span.a-color-price {
	color: #FFFFFF !important;
}

td.a-color-price {
	color: #FFFFFF !important;
}


span.price {
	color: #FFFFFF !important;
}

span.s9price {
	color: #FFFFFF !important;
}

td.a-text-strike {
	color: #FFFFFF !important;
}

